<?xml version="1.0" encoding="UTF-8"?>
<!-- This custom log4j file will be used by loom while developing (for example, run client from IDE) to achieve:
prevent huge amount of platform's DEBUG log flowing in the console,
while keep our mod's DEBUG log printed in the console for developing convenience.-->
<!-- File template source: https://github.com/FabricMC/fabric-loom/blob/dev/1.5/src/main/resources/log4j2.fabric.xml
Or you can run gradle "generateLog4jConfig" task and check the default log4j config under ".gradle/loom-cache". -->
<!-- Once this custom config is successfully used by loom (configured it in gradle and reload grade),
the path of this file will be shown as "log4j.configurationFile=..." property in
"[fabric|forge module directory]/.gradle/loom-cache/launch.cfg" files. -->
<!-- log4j config guide: https://logging.apache.org/log4j/2.x/manual/configuration.html -->
<Configuration status="WARN" packages="com.mojang.util">
    <Appenders>

        <!--	System out	-->
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout>
                <LoggerNamePatternSelector
                        defaultPattern="%style{[%d{HH:mm:ss}]}{blue} %highlight{[%t/%level]}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=green, TRACE=blue} %style{(%logger{1})}{cyan} %highlight{%msg%n}{FATAL=red, ERROR=red, WARN=normal, INFO=normal, DEBUG=normal, TRACE=normal}"
                        disableAnsi="${sys:fabric.log.disableAnsi:-true}">
                    <!-- Dont show the logger name for minecraft classes-->
                    <PatternMatch key="net.minecraft.,com.mojang."
                                  pattern="%style{[%d{HH:mm:ss}]}{blue} %highlight{[%t/%level]}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=green, TRACE=blue} %style{(Minecraft)}{cyan} %highlight{%msg{nolookups}%n}{FATAL=red, ERROR=red, WARN=normal, INFO=normal, DEBUG=normal, TRACE=normal}"/>
                </LoggerNamePatternSelector>
            </PatternLayout>
        </Console>

        <!--	Vanilla server gui	-->
        <Queue name="ServerGuiConsole" ignoreExceptions="true">
            <PatternLayout>
                <LoggerNamePatternSelector defaultPattern="[%d{HH:mm:ss} %level] (%logger{1}) %msg{nolookups}%n">
                    <!-- Dont show the logger name for minecraft classes-->
                    <PatternMatch key="net.minecraft.,com.mojang." pattern="[%d{HH:mm:ss} %level] %msg{nolookups}%n"/>
                </LoggerNamePatternSelector>
            </PatternLayout>
        </Queue>

        <!--	latest.log same as vanilla	-->
        <RollingRandomAccessFile name="LatestFile" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <LoggerNamePatternSelector defaultPattern="[%d{HH:mm:ss}] [%t/%level] (%logger{1}) %msg{nolookups}%n">
                    <!-- Dont show the logger name for minecraft classes-->
                    <PatternMatch key="net.minecraft.,com.mojang." pattern="[%d{HH:mm:ss}] [%t/%level] (Minecraft) %msg{nolookups}%n"/>
                </LoggerNamePatternSelector>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>

        <!--	Debug log file	-->
        <RollingRandomAccessFile name="DebugFile" fileName="logs/debug.log" filePattern="logs/debug-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] (%logger) %msg{nolookups}%n"/>

            <!--	Keep 5 files max	-->
            <DefaultRolloverStrategy max="5" fileIndex="min"/>

            <Policies>
                <SizeBasedTriggeringPolicy size="200MB"/>
                <OnStartupTriggeringPolicy/>
            </Policies>

        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger level="info" name="net.minecraft"/>
        <Logger level="warn" name="cpw.mods.modlauncher.ClassTransformer"/>

        <!-- Log of this mod -->
        <!-- for stop logging mod's INFO log twice
        ref: https://logging.apache.org/log4j/2.x/manual/configuration.html#additivity -->
        <Logger level="all" name="com.github.khanshoaib3.minecraft_access" additivity="false">
            <!-- Control log level of this mod with "-DmineAccess.log.level" JVM argument.
           ref: https://stackoverflow.com/a/44745321/11397457-->
            <AppenderRef ref="DebugFile" level="${sys:mineAccess.log.level:-debug}"/>
            <AppenderRef ref="SysOut" level="${sys:mineAccess.log.level:-debug}"/>
            <AppenderRef ref="LatestFile" level="info"/>
            <!-- Although this mod is a pure client side mod... -->
            <AppenderRef ref="ServerGuiConsole" level="info"/>
        </Logger>

        <!-- Global logger with the special "Root" tag-->
        <Root level="all">
            <AppenderRef ref="DebugFile" level="${sys:fabric.log.debug.level:-info}"/>
            <AppenderRef ref="SysOut" level="${sys:fabric.log.level:-info}"/>
            <AppenderRef ref="LatestFile" level="${sys:fabric.log.level:-info}"/>
            <AppenderRef ref="ServerGuiConsole" level="${sys:fabric.log.level:-info}"/>
        </Root>
    </Loggers>
</Configuration>
