@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Material+Symbols+Outlined&family=Material+Symbols+Rounded&family=Material+Symbols+Sharp");

$vars-light: (
        bg: #ffffff,
        fg: #000000,
        bg-hover: #55555555,
        link: #1c8009,
        link-hover: #36572b,
        border: #aaaaaa solid 1px,
        sidebar: #e6e6e6,
        header: #40a849,
        dropdown-border: #aaaaaa solid 2px,
        table-header: #81c181,
        table-border: #2b2b2b solid 1px,
        blockquote-border: #42424e solid 6px,
        code-bg: #42424e,
        code-fg: #ffffff,
);
$classes-light: (
        info: (
                colour: #2e70ff,
        ),
        warn: (
                colour: #eaaf18,
        ),
        error: (
                colour: #ff4b4b,
        ),
        note: (
                colour: #888888,
        ),
        tip: (
                colour: #7e62b8,
        ),
);

$vars-dark: (
        bg: #25252e,
        fg: #ffffff,
        bg-hover: #55555555,
        link: #2e9a19,
        link-hover: #84cf70,
        border: #1c1c22 solid 1px,
        sidebar: #242429,
        header: #267547,
        dropdown-border: #1c1c22 solid 2px,
        table-header: #2f3e2f,
        table-border: #6a6a7e solid 1px,
        blockquote-border: #42424e solid 6px,
        code-bg: #42424e,
        code-fg: #ffffff,
);
$classes-dark: (
        info: (
                colour: #2e70ff,
        ),
        warn: (
                colour: #eaaf18,
        ),
        error: (
                colour: #ff4b4b,
        ),
        note: (
                colour: #959595,
        ),
        tip: (
                colour: #7e62b8,
        ),
);

$font-regular: "Roboto", sans-serif;
$font-monospaced: "Roboto Mono", monospace;
